<div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h1>Add an Event</h1>
       <form>
        <div class="form-group">
            <label for="">Name:</label>
            <input type="text" class="form-control" id="" placeholder="Event Name">
        </div>
        <div class="form-group">
            <label for="">Description</label>
            <textarea class="form-control" id="" placeholder="Event Description"rows="3"></textarea>
          </div>
        <div class="form-group">
            <label for="">Location</label>
            <input type="text" class="form-control" id="" placeholder="Event Location">
        </div>
        <div class="form-group"> <!-- Date input -->
          <label class="control-label" for="date">Date</label>
          <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
        </div>
        <button type="submit" class="btn btn-primary">Create Event</button>
       </form>
       </div>
    </div>
  </div>