<br>
<div class="container">
  <h2>Create an Event</h2>
  <div>
      <form [formGroup]="addForm" (ngSubmit)="addEventHandler()"> 
        <div class="form-group">
          <label for="" class="col-form-label">Event Title</label>
            <input type="text" class="form-control" 
            [ngClass]="{ 'is-invalid': addForm.get('title').touched 
              && addForm.get('title').invalid }"
            placeholder="Title" formControlName="title"/>  
            <div class="invalid-feedback">
              <div>Title is Required.</div>
            </div>
          </div>

        <div class="form-group">
          <label class="col-form-label">Event Desc</label>
            <input type="text" class="form-control" 
            [ngClass]="{ 'is-invalid': addForm.get('desc').touched 
            && addForm.get('desc').invalid }"
            placeholder="Description" formControlName="desc"
            />
            <div class="invalid-feedback">
              <div>Description is Required.</div>
            </div>
          </div>

        <div class="form-group">
          <label class="col-form-label">Event Date & Time</label>
            <input type="text" class="form-control" 
            [ngClass]="{ 'is-invalid': addForm.get('time').touched 
            && addForm.get('time').invalid }"
            placeholder="Time" formControlName="time"
            />
            <div class="invalid-feedback">
              <div>Date & Time is Required.</div>
            </div>
          </div>

        <div class="form-group">
          <label class="col-form-label">Event Location</label>
            <input type="text" class="form-control" 
            [ngClass]="{ 'is-invalid': addForm.get('location').touched 
            && addForm.get('location').invalid }"
            placeholder="Location" formControlName="location"
            />
            <div class="invalid-feedback">
              <div>Location is Required.</div>
            </div>
          </div>

        <div class="form-group ">
          <label class="col-form-label">Event Image</label>
          <div>
            <input type="text" class="form-control" 
            [ngClass]="{ 'is-invalid': addForm.get('img').touched 
            && addForm.get('img').invalid }"
            placeholder="Event Image URL" formControlName="img"/>
            <div class="invalid-feedback" 
            *ngIf="addForm.get('img').touched && addForm.get('img').invalid" >
              <div *ngIf="addForm.get('img').errors?.required">Image is Required.</div>
            </div>
          </div>
        </div>
  
        <div class="alert alert-success" *ngIf="eAdded">Event has been Added.</div>
  
        <div class="form-group">
            <button class="btn btn-primary" 
            [disabled]="addForm.invalid">Submit Event</button>
          </div>
      </form>
    </div>
  </div>
