<div class="card" style="width: 40rem;">
  <img class="card-img-top" src="https://www.seekpng.com/png/detail/73-730482_existing-user-default-avatar.png">
  <div class="card-body">
    <div class="container">
      <h2>Please Register Below!</h2>
      <div>
        <form [formGroup]="registerUser" (ngSubmit)="registerUser.valid && handleSubmit()">
          <div class="form-group">
            <label for="email" class="col-form-label">Email</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': registerUser.get('email').touched 
                        && registerUser.get('email').invalid }" placeholder="Enter Email" formControlName="email" />
            <div class="invalid-feedback">
              <div>Email can't be blank</div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label">Password</label>
            <input type="password" class="form-control" [ngClass]="{ 'is-invalid': registerUser.get('password').touched 
                      && registerUser.get('password').invalid }" placeholder="Enter Password" formControlName="password" />
            <div class="invalid-feedback">
              <div>Password can't be blank</div>
            </div>
          </div>


          <div class="form-group">
            <button class="btn btn-primary" [disabled]="registerUser.invalid">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>